
@{
    ViewBag.Title = "Upload";
}

<h2>Upload Product File</h2>

<form id="Form1" method="post" enctype="multipart/form-data" runat="server">
    <input type=file id="productFile" name="productFile" runat="server" />
    <br>
    <input type="submit" id="submit" value="Upload" runat="server" />
</form>