@model eCommerce.Models.Product

<div class="product-wrapper col-xs-12 col-sm-6 col-lg-3 col-md-4">
    <a href="#">
        <div class="product-image-wrapper">
            <img class="product-image" src="~/Upload/@Model.ImagePath"><div class="product-image-helper"></div>
        </div>
    </a>
    <hr class="divider">
    <div class="product-title">@Html.DisplayFor(m => m.Name)</div>
    <div class="product-description">@Html.DisplayFor(m => m.Description)</div>
    <div class="product-price">@Html.DisplayFor(m => m.UnitPrice)</div>
</div>